
<div class="alert alert-primary" role="alert">
    <h2><strong>List Meal Menu : @ViewBag.Message <i class="fa-solid fa-wheat-awn"></i></strong></h2>
</div>

<a asp-action="Create" id="addCustomer" asp-controller="Meal" asp-route-MenuId="@ViewBag.Idmenu" class="btn btn-success text-white" style="margin-bottom:10px"><i class="fa-solid fa-cloud-meatball"></i> New Meal</a>
<table id="Mealtable" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Meal Name</th>
            <th>Date of Meal</th>
            <th>Other Meal Detail</th>           
            <th> </th>
        </tr>
    </thead>
</table>

<link href="~/lib/datatable/datatables-1.12.1/css/datatables.bootstrap5.min.css" rel="stylesheet" />

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/lib/datatable/datatables-1.12.1/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatable/datatables-1.12.1/js/datatables.bootstrap5.min.js"></script>
    <script>
        var Popup, datatable, IdMenu = parseInt('@ViewBag.Idmenu'), IdWard = parseInt('@ViewBag.Ward_Id')
        $(document).ready(function () {
            datatable = $("#Mealtable").DataTable({
                "ajax": {
                    "url": "/Meal/GetMealData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "id" },
                    {
                        "data": "mealName",
                        "width": "250px",
                        "render": function (data, type, row, meta) {
                            return '<b><a href="/Customer/Details/' + row.id + '">' + data + '</b></a>';
                        }
                    },
                    {
                        "data": "dateofmeal",
                        "render": dateFormatter
                    },
                    { "data": "other_MealDetail" },                    
                    {
                        "data": "id", "render": function (data) {
                            return "<a class= 'btn btn-primary btn-sm text-white' onclick=location.href='@Url.Action("Edit","Meal")/" + data + "'><i class='fas fa-pencil'></i><b> Edit</b></a>" + "\r\n" +
                                "<a class= 'btn btn-danger btn-sm text-white' style = 'margin-left:5px' onclick =location.href='@Url.Action("Delete","Meal")/" + data + "' > <i class='fa-solid fa-trash-can' > </i><b> Delete</b > </a> " + "\r\n" +
                                "<a class= 'btn btn-info btn-sm' style='margin-left:5px' onclick=location.href='@Url.Action("MenusperMealList", "MenuMeal")?MealId=" + data + "'><i class='fa-solid fa-prescription-bottle-medical'></i><b> Menus</b> </a>  ";
                              
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "250px"
                    }

                ],
                "language": {

                    "emptyTable": "No data Found, Please Click On <b>Add New</b> Button"
                }

            });

        });







        function dateFormatter(data) {
            var dateAsString = data;

            var yearNumber = dateAsString.substring(0, 4);
            var monthNumber = dateAsString.substring(5, 7);
            var dayNumber = dateAsString.substring(8, 10);
            var dat = dayNumber + "/" + monthNumber + "/" + yearNumber;
            return dat;
        }

        function Genderparse(data) {
            var gnder;
            switch (data) {
                case 1:
                    gnder = "Male"
                    break;
                case 2:
                    gnder = "Female"
                    break;
                default:
                // code block
            }
            return gnder;
        }

    </script>
    }

